


/* Navbar CSS */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  transition: all 0.3s ease;
}
nav.sticky{
  background: #f82323;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}